<!--
  Generated template for the JobPostPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Raise Hiring Request</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div class="title">
    CANDIDATE DETAILS FOR THE SUITABLE JOB POSITIONS.
  </div>

  <form [formGroup]="jobForm" (ngSubmit)="post()">

    <ion-item>
      <ion-label floating>Role</ion-label>
      <ion-input type="text" formControlName="role"></ion-input>
    </ion-item>

    <!-- <ion-item>
      <ion-label floating>Location</ion-label>
      <ion-input type="text" formControlName="location"></ion-input>
    </ion-item> -->

    <ion-item>
      <ion-label floating>Location</ion-label>
      <ion-input list="locations" type="text" formControlName="location"></ion-input>
    </ion-item>

    <datalist id="locations">
      <option *ngFor="let location of locations" value="{{location.keyText}}"></option>
    </datalist>







    <ion-item>
      <ion-label floating>Employement type</ion-label>
      <ion-select formControlName="empTypeId">
        <ion-option *ngFor="let employmentType of employmentTypes" value="{{employmentType.id}}">{{employmentType.keyText}}</ion-option>
      </ion-select>
    </ion-item>

    <div style="display: flex;">
      <ion-item style="flex: 1">
        <ion-label floating>Min Salary</ion-label>
        <ion-select formControlName="salMinId">
          <ion-option *ngFor="let minSalary of minSalaries" value="{{minSalary.id}}">{{minSalary.keyText}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item style="flex: 1">
        <ion-label floating>Max Salary</ion-label>
        <ion-select formControlName="salMaxId">
          <ion-option *ngFor="let minSalary of minSalaries" value="{{minSalary.id}}">{{minSalary.keyText}}</ion-option>
        </ion-select>
      </ion-item>
    </div>

    <ion-item>
      <ion-label floating>Experience required</ion-label>
      <ion-select formControlName="experienceId">
        <ion-option *ngFor="let experience of experiences" value="{{experience.id}}">{{experience.keyText}}</ion-option>
      </ion-select>
    </ion-item>





    <!-- <tag-input autoCompleteItems="items" style="padding-left: 16px; margin-top: 5px;" formControlName="skills" placeholder="Add more skills" secondaryPlaceholder="Skills"></tag-input> -->

    <tag-input placeholder="Add more skills" secondaryPlaceholder="Skills" formControlName="skills" [onlyFromAutocomplete]="true" style="padding-left: 16px; margin-top: 5px;">
      <tag-input-dropdown [showDropdownIfEmpty]="false" [autocompleteItems]="skillSet">
      </tag-input-dropdown>
    </tag-input>





    <ion-item>
      <ion-label floating>Job Description</ion-label>
      <ion-input type="text" formControlName="jobDescription"></ion-input>
    </ion-item>

    <div style="display: flex;">
      <button type="button" class="btn" ion-button block outline style="flex: 0 1 auto">SAVE</button>
      <button [disabled]="jobForm.invalid" class="btn" type="submit" ion-button block outline style="flex: 0 1 auto">POST</button>
    </div>

  </form>

</ion-content>